<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



</head>

<body style="background-color: #f8f9fa">

<!--Шапка-->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark static-top">

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <a style="color: white;text-align: left;" id="headInfo">
                    </a>
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/logout">Выйти <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--Левая панель-->

    <br>
    <div class="row">
        <div class="col-md-2" style="background-color: white">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link active">Администратор</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">Пользователь</a>
                </li>

            </ul>
        </div>


        <!--Правая панель-->
        <div class="col-md-10">
            <!--Заголовок страницы-->
            <div class="page-header">
                <h2>
                    Панель администратора
                </h2>
            </div>
            <!--Панель навигации-->

            <ul class="nav nav-tabs">

                <li class="nav-item">
                    <a class="nav-link active">Пользователи</a>
                </li>
                <li class="nav-item" id="newUserLink">

                </li>

                <li class="nav nav-item" id="formNewUser">

                    <a class="nav-link" type="button" id="SliderNewUserForm">Добавить пользователя</a>
                    <div class="col-md-10" style="align-items: center">
                        <div class="container-fluid" align="center">
                            <div class="d-flex justify-content-center">
                                <div class="form-group">
                                    <form id="defaultSomeForm" data-hidden=true style="display: none">
                                        <h4>Новый пользователь</h4>
                                        <input class="form-control" id="AddNewUserName" type="text" placeholder="Имя">
                                        <input class="form-control" id="AddNewUserGender" type="text" placeholder="Пол">
                                        <input class="form-control" id="AddNewUserNickname" type="text" placeholder="Позывной">
                                        <input class="form-control" id="AddNewUserPassword" type="password" placeholder="Пароль">
                                        <select class="custom-select"
                                                size="3"
                                                multiple name="roles"
                                                id="AddNewUserRoles" required>
                                            <option value="1">Администратор</option>
                                            <option selected value="2">Пользователь</option>
                                        </select>
                                        <br>

                                        <button class="btn btn-primary mb-2" type="button" id="addNewUserButton">Добавить пользователя</button>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                </li>

            </ul>

            <!--            Заголовок таблицы-->
            <div>
                <h5 style="margin: 10px">
                    Список всех пользователей
                </h5>

            </div>
            <!--Таблица-->
            <table class="table table-hover" style="background-color: white" id="tableUsers">
                <!--Шапка таблицы-->
                <thead>

                <tr>
                    <th style="text-align: center;"> ID</th>
                    <th style="text-align: center;"> Имя</th>
                    <th style="text-align: center;"> Пол</th>
                    <th style="text-align: center;"> Позывной</th>
                    <th style="text-align: center;"> Права доступа</th>

                </tr>
                </thead>
                <!--Тело таблицы-->

                <tbody id="data">

                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Модальное окно -->
<div class="modal fade" id="someDefaultModal" tabindex="-1" role="dialog" aria-labelledby="someDefaultModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
            </div>

            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/EnginePages.js"></script>

</body>
</html>







